# Node modules
node_modules/

# Build output
dist/

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Vite specific files
.vite/
.vitepress/

# Temporary files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Miscellaneous
*.tgz
